.dialog-gmail {
}
.dialog-gmail-show {
  opacity: 1;
  font-size: 14px;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgb(152 148 148 / 20%);
  border-radius: 7px;
  padding: 10px;
  right: 13px !important;
  position: fixed !important;
  top: 13px !important;
  z-index: 999999 !important;
}
.dialog-gmail-hide {
  opacity: 0;
}
